@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --body_background: rgb(233, 231, 231);
  --body_color: rgb(43, 42, 42);
  --link_color: rgb(1, 1, 1);
  font-family: "Poppins", sans-serif;
}

[data-theme="dark"] {
  --body_background: rgb(24, 24, 24);
  --link_color: rgb(248, 4, 73);
  --body_color: white;
}

.flex {
  display: flex;
}

.sidebar {
  height: 100vh;
  border-radius: 24px;
  flex-basis: 20%;
}

.sidebar-contents {
  background: #6f6af8;
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 27px 0px 0px 27px;
  border-radius: 24px;
}

.sidebar-head {
  align-items: center;
  color: #ffffff;
  padding: 11px;
  font-size: 18px;
}

.logo {
  width: 57px;
}

.navlinks .icons {
  font-size: 21px;
  padding: 6px;
  color: #ffffff;
}

.navlinks ul {
  padding: 0px 0px 0px 11px;
}

.footer ul {
  padding: 0px 0px 0px 11px;
}

.footer .icons {
  font-size: 21px;
  padding: 6px;
  color: #ffffff;
}

.navlinks .icons:hover {
  color: #6f6af8;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

li a {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.navlinks {
  text-decoration: none;
}

.navlinks ul li:hover {
  background-color: rgb(233, 231, 231);
  color: #6f6af8;
  border-radius: 10px 0px 0px 10px;
}

.navlinks ul li:hover a {
  color: #6f6af8;
  text-decoration: none;
}

.navlinks ul li:hover .icons {
  color: #6f6af8;
}

.footer ul li:hover {
  background-color: rgb(233, 231, 231);
  color: #6f6af8;
  border-radius: 10px 0px 0px 10px;
}

.footer ul li:hover a {
  color: #6f6af8;
  text-decoration: none;
}

.footer ul li:hover .icons {
  color: #6f6af8;
}

ul {
  list-style: none;
  line-height: 43px;
}

/* 
middle MAIN */
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 65%;
  justify-content: space-between;
  margin: 20px 20px 0px 20px;
}

.header {
  padding: 20px 0px;
  background: #6f6af8;
  border-radius: 7px;
  width: 100%;
  color: white;
  margin: 0px 0px 10px 0px;
}

.overview-cards h4 {
  color: #333;
  font-weight: 600;
}

.header a {
  color: antiquewhite;
  text-decoration: none;
}

.overview-cards {
  flex-wrap: wrap;
  overflow: hidden;
  gap: 30px;
  width: 100%;
}

.middle .inventions {
  background: #cbc8cd;
  height: auto;
  padding-bottom: 55px;
}
.active-users {
  background: #cbc8cd;
  height: auto;
}

.middle-cards {
  margin: 10px;
  border-radius: 21px;
  margin-top: 35px;
  justify-content: space-around;
  height: 40vh;
}
.stats {
  padding: 10px;
  font-weight: 700;
  color: #4235ef;
  border-radius: 6px;
  width: 29%;
}

.stats .icons {
  margin-right: 20px;
  font-size: 37px;
}
.stats-container {
  width: 100%;
}

/* RIGHT */
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile .icon {
  font-size: 24px;
}

.profile-image {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 50%;
  margin: 0px 21px;
}

.right {
  margin-top: 20px;
  flex-basis: 15%;
}
.right .card h4 {
  color: #333;
}
.right .card h4 {
  margin-bottom: 2px;
}

.right .card li {
  line-height: 2em;
  color: #333;
  text-align: left;
}

.card {
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  border: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

hr {
  border: 1px solid;
}

/* ADD INVENTION */

.middle form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f1f1f1;
  margin-top: 20px;
  border-radius: 20px;
  padding: 25px 10px;
}

input {
  border: 1px solid #d7d7d7;
  padding: 9px;
  border-radius: 5px;
  outline: none;
  background: transparent;
}
.fields {
  display: flex;
  flex-direction: column;
  margin: 13px;
  width: 100%;
}

.fields label {
  margin-bottom: 5px;
}

.firstRight,
.secondRight {
  justify-content: center;
  align-items: center;
}

.fields input,
.fields select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
}

.addInSubmit {
  border: none;
  width: 100%;
  background: #6f6af8;
  color: white;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.ant-picker {
  padding: 8px;
}

.imageField {
  flex-direction: column;
  display: flex;
  background: #e9e7e7;
  margin: 30px;
  padding: 20px;
  border: dotted 2px #6f6af8;
  border-radius: 10px;
}

.imageField .heading {
  position: relative;
  top: -23px;
}

.imagebtn {
  border: none;
  width: 19%;
  background: #6f6af8;
  color: white;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px 0px;
  cursor: pointer;
}

.selectField {
  text-align: left;
}

.folderIcon {
  font-size: 39px;
  color: #725be7;
}

.countryField {
  text-align: left;
  box-sizing: border-box;
  max-width: 100%;
  margin: 14px;
}

.remove-file {
  align-items: center;
  justify-content: center;
  background: rgba(18, 18, 18, 0.302);
  color: white;
  border-radius: 7px;
}

thead,
tbody {
  text-align: left;
}
.invention-cell {
  padding: 10px 25px 0px 0px;
}
