@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
:root {
  --body_background: rgb(233, 231, 231);
  --body_color: rgb(43, 42, 42);
  --link_color: rgb(1, 1, 1);
  font-family: "Poppins", sans-serif;
}
[data-theme="dark"] {
  --body_background: rgb(24, 24, 24);
  --link_color: rgb(248, 4, 73);
  --body_color: white;
  .account h1{
    color: #621FF1 !important;
  }
  .account p{
    color: #292929;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.logo {
  color: white;
}
.centered-div a {
  color: #ffffff;
}
.desktop-nav .nav-items{
  display: flex;
  gap: 22px;
}
.result-container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}
.inventorName {
  font-size: 16px;
}
.acount {
  gap: 20px;
}
#ul {
  flex-direction: column;
  gap: 20px;
}
.result-container .result {
  text-align: left;
  background: #cbc8cd;
  border: 5px solid #e9e7e7;
  border-radius: 10px;
  color: rgb(43, 42, 42);
  padding: 20px;
  width: calc(100% / 5);
  box-sizing: border-box;
}
.one-result {
  width: 100%;
  justify-content: center;
}

.centered-div {
  justify-content: space-between;
  background: #621FF1;
  width: 70%;
  padding: 26px;
  border-radius: 23px;
  margin-top: 19px;
}
.centered-div .login {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
}
.centered-div .register {
  background: #ff9a57;
  border: none;
  color: rgb(21, 20, 20) !important;
  width: auto;
  font-size: 16px;
  padding: 11px 14px;
  border-radius: 8px;
}

/* SEARCHBAR */
.search-input-container {
  display: flex;
  align-items: center;
}

.container .search-icon {
  margin-right: 10px;
}
.search-container {
  align-items: center;
  justify-content: space-between;
  background: #d9d9d9;
  width: 55%;
  padding: 15px;
  border-radius: 16px 16px 0px 16px;
}
.search-input {
  background: transparent;
  border: none;
  width: 100%;
  padding: 4px;
  font-size: 18px;
  outline: none;
  margin-left: 10px;
  color: #545453;
}
.search-input::placeholder {
  font-size: 18px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}
.search-icon {
  color: #621FF1;
  font-size: 23px;
}
.search-button {
  border: none;
  background: #621FF1;
  color: white;
  padding: 15px;
  border-radius: 8px 8px 0px;
  font-size: 16px;
  cursor: pointer;
}
.inventions .cards {
  margin-top: 4%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.inventions #Card{
  height: 400px;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inventions {
  margin-bottom: 5%;
}
.card {
  background: #cbc8cd;
  border: 5px solid #e9e7e7;
  border-radius: 10px;
  margin: 20px;
  color: white;
  width: 300px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.read_more {
  border: 0px;
  margin-bottom: 37px;
  background: #621FF1;
  color: white;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
}
.read_more a {
  color: white;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}
.invention_img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.ant-pagination{
  justify-content: center;
}
.cards .ant-card-body {
  background: #dfdbdb;
  text-align: left;
  height: 450px;
  padding-bottom: 20px;
}
.ant-card-body .invention_img{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  position: relative;
}
.card .details {
  color: #292929;
  margin-left: 15px;
  text-align: left;
}
.results {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  gap: 20px;
}
.result p .searchmatch {
  font-weight: 700;
  color: #621ff1;
}
.card .details p {
  font-size: 18px;
}
hr.solid {
  width: 137%;
  border-top: 1px solid #5e5e5e;
  margin-top: -7%;
}
.inventors_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
  width: 80%;
}
.last-row-card {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  flex-grow: 1;
}
.card-wrapper {
  flex: 1 0 25%; /* Display 3 cards per row on large screens */
  max-width: 20%;
}

.image-container {
  height: 200px;
  overflow: hidden;
}
.resultcount {
  background: #621FF1;
  padding: 14px;
  border-radius: 5px;
  margin-top: 60px;
  color: white !important;
}
.invention-details {
  width: 400px;
}
/* LOGIN/REGISTER FORM */
.account .form {
  width: 52%;
  display: flex;
  flex-direction: column;
  background: #f8fafb;
  margin: 30px 0px;
  border-radius: 10px;
}
.first-side {
  width: 40%;
  background: #6f6af8;
}
.signup {
  gap: 30px;
}
.account {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
}

.s-btn {
  border: none;
  background: #6f6af8;
  color: white;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: #ffffff;
  border: 0px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.btn button {
  border: 0px;
  background: transparent;
  display: flex;
  cursor: pointer;
}
.google-logo {
  width: 30px;
}
.social-signup {
  gap: 64px;
  justify-content: center;
  margin-bottom: 30px;
}
.fb-logo {
  color: #6f6af8;
}
.form .fields {
  width: auto;
  margin: 35px 23px;
}
.form .fields input {
  border: 0px;
  background: #f3f3f3;
}
.login a {
  text-decoration: none;
}
.register a {
  color: white;
  text-decoration: none;
}
.ltIn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ltIn .card{
  height: 400px;
  padding-bottom: 40px;
}

.loading-container {
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make it full height of the viewport */
}

/* MOBILE */

@media (max-width: 768px) {
  .card-wrapper {
    flex: 1 0 100%; /* Display 3 cards per row on large screens */
    max-width: 90%;
  }
  .card {
    width: 100%;
  }
  .navbar-top {
    display: none;
  }
  .read_more {
    width: 80%;
  }
  .desktop-nav {
    display: none;
  }
  .footer{
    display: none !important;
  }
  #footer {
    padding-top: 20%;
  }
  .pagination  {
    display: flex !important;
    margin-top: 50px;
    justify-content: center !important;
  }
  .centered-div {
    justify-content: space-between;
    background: #621FF1;
    width: 100%;
    padding: 10px;
    border-radius: 0px;
    margin-top: 0px;
  }
  .results {
    width: 100%; /* Each result will occupy one-third of the container width */
    padding: 10px;
    box-sizing: border-box;
  }
  .result-container .result {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
 
  .search-container {
    align-items: center;
    justify-content: space-between;
    background: #d9d9d9;
    padding: 15px;
    width: auto;
    border-radius: 16px 16px 0px 16px;
  }
}
/* FOOTER */
#footer {
  background: lightgrey;
}
.footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact {
  flex-direction: row;
  align-items: flex-start;
  gap: 41px;
}
.footer .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .container{
  display: initial;
}
.footer-top {
  gap: 50px;
}

/* Categories style */
.category {
  margin: 5rem 0rem;
}
.category .card {
  background: #ececec;
  color: #292929;
  padding: 26px 0px;
  margin: 10px;
  gap: 0px;
  align-items: center;
  width: calc(33.33% - 20px); 
  margin-bottom: 20px;
}
.category .count {
  align-items: center;
  justify-content: space-between;
}
.category .card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transform: translateX(-10%);
  transition: transform 0.3s ease-in-out;
}
.category .card:focus-visible{
  transform: translateX(0);
}
.category h5 {
  font-family: "poppins";
  font-size: 18px;
  font-weight: 700;
  color: #8051eb;
}
.category .cathead {
  align-items: center;
  justify-content: start;
  gap: 17px;
}
.category .faglobe {
  font-size: 26px;
  color: #f938af;
  background: #f3acf2;
  padding: 11px;
  border-radius: 7px;
}
.category .row{
  flex-wrap: wrap;
  width: 80%;
}
.category p {
  text-align: left;
}
.farrow {
  font-size: 30px;
  font-weight: 300;
  color: #621FF1;
}
@media (max-width: 768px) {
  .category {
    margin-top: 60px;
  }
  .category .row {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .category .card {
    line-height: 1.5;
    width: 100%
  }
  .category .card:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: none;
  }
}
.ltIn .inventview{
  color: #ffffff;
  background: #621FF1;
}
#coming_soon .btn_contained{
  background: #621FF1;
  border: none;
  box-shadow: none;
}
#coming_soon .btn_outline{
  border: 1px solid white;
  color: white;
}
.cat-items{
  display: flex;
    flex-direction: column;
    align-items: center;
}